@model QueryViewModel
@using DeepTargeting.Models

<div class="row justify-content-center">
    <form asp-action="FindKeywordInterests" method="post">
        <div class="form-group row justify-content-center">
            <div class="col-12">
                <h2 class="text-info">Your Keyword:</h2>
            </div>

            <div class="col-12">
                <input id="queryInput" asp-for="CreatedQuery.QueryText" class="form-control" autofocus required />
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-3">
                <select class="selectpicker" id="language" asp-for="CreatedQuery.Language">
                    <option value="en_US">en-US</option>
                    <option value="sk_SK">sk</option>
                </select>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-5">
                <input type="submit" value="Find Audience" class="w3-button w3-black w3-padding-large" />
            </div>
        </div>
    </form>
</div>

@if (Model.PreviousQueries.Count > 0)
{
<div class="row justify-content-center">
    @foreach (string query in Model.PreviousQueries)
    {
        <button style="margin:5px" onclick="ReloadWithQuery('@query')">@query</button>
    }
</div>
}


@if (Model.FoundInterests.Count > 0)
{
    <div class="row justify-content-center">
        <br />
        <h1 class="text-info"> '@Model.CreatedQuery.QueryText':</h1>
        <br />
    </div>

    <div class="row justify-content-center">
        <form>
            @foreach (Interest interest in Model.FoundInterests)
            {
                if (interest.Name != "" && interest.AudienceSize != "")
                {
                    <br />
                    <div style="text-align: center">
                        <a href=@interest.GoogleSearchUrl class="btn btn-outline-primary btn-lg" role="button" target="_blank">@interest.Name</a>
                        <h5 class="text-center">@interest.AudienceSize</h5>
                        <h6 class="text-center">@interest.Category</h6>
                    </div>
                    <br />
                }
            }
        </form>
    </div>

    <br />
    <div class="row justify-content-center">
        <button class="btn btn-secondary" asp-action="ExportExcel" onclick="location.href='@Url.Action("ExportExcel", "Query")'">
            Export to Excel
        </button>
    </div>
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ResetQuery")",
            dataType: "text",
            success: function (msg) {
            },
            error: function (req, status, error) {
            }
        });
    });

    function ReloadWithQuery(buttonText) {
            $.ajax({
            type: "POST",
            url: '@Url.Action("ReloadPageWithQuery")',
            data: { queryText: buttonText },
            success: function (response) {
                  window.location.replace(response.redirectUrl);
            },
            error: function (req, status, error) {
            }
        });
    }

</script>

